<p>A new Car was posted by <%= @user.first_name %></p>

<p>
  <h1>Car vendor:</h1>
  <%= @car.vendor %>
  <h1>Car Name:</h1>
  <%= @car.car_name %>
  <h1>Car description:</h1>
  <%= @car.description %>
</p>
