@import "bootstrap";

.login > .card {
  width: 25rem;
  margin: auto;
  float: none;
  text-align: center; 
}

.card {
  color: black;
  text-align: center;
  width: 25rem;
  margin: auto;
  float: none;
}


.navbar-nav {
  margin-left: auto;
 }

.background {
  background-color: aliceblue;
  color: black;
}
