<div class="car-button">
  <%= link_to new_car_url, class: "btn btn-lg btn-outline-danger" do %>
    <i class="fa-solid fa-car"></i> Add New Car
  <% end %>
</div>
<div id="cars">
  <%= render partial: "cars/cars", locals: { cars: @cars } %>
</div>
