<h1>Add a Car</h1>

<%= form_for(@car, url: car_step3_path(@car)) do |f| %>
  <h2>Step 3: Description</h2>
  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit 'Create Car' %>
<% end %>
