<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
       <td><%= user.email%></td>
       <td><%= link_to user.status, toggle_status_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
